<%= simple_form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
<div class="field">
  <%= f.label :Numero %><br>
  <%= f.text_field :number %>
  <%= error_span(@group[:number]) %>
</div>
<div class="field">
  <%= f.label :Nombre %><br>  
  <%= f.text_field :name %>
  <%= error_span(@group[:name]) %>
</div>
<div class="actions">
  <%= f.button :submit, "Guardar" , :class => 'btn-primary' %>
  <%= link_to t('.cancelar'),
                groups_path, :class => 'btn btn-default' %>
</div>                
<% end %>

