<%= simple_form_for [@area,@operation], :html => { :class => 'form-horizontal' } do |f| %>
<div class="field">
  <%= f.label :Nombre %><br>
  <%= f.text_field :name %>
  <%= error_span(@operation[:name]) %>
</div>
<div class="field">
  <%= f.label :Descripcion %><br>  
  <%= f.text_field :description %>
  <%= error_span(@operation[:description]) %>
</div>
<div class="field">  
  <%= f.label :Maquina %><br>
  <%= f.text_field :machine %>
  <%= error_span(@operation[:machine]) %>
</div>
<div>
  <%= f.label :Tiempo_Estandar %><br>  
  <%= f.text_field :time_stadar %>
  <%= error_span(@operation[:time_stadar]) %>
</div>
<div class="field">
  <%= f.label :Imagen %><br>
  <%= f.file_field :image %>
  <%= error_span(@operation[:image]) %>
</div>
<div>
  <%= f.label :Area %><br>  
  <%= f.text_field :area_id %>
  <%= error_span(@operation[:area_id]) %>
</div>

<div class="actions">
  <%= f.button :submit,"Guardar", :class => 'btn-primary' %>
  <%= link_to t('.cancelar'),
               area_operations_path(@area), :class => 'btn btn-default' %>
</div>               
<% end %>
